/* Menu de Navegação */
nav {
    margin-top: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 0.5rem 1rem;
    background-color: #555;
    border-radius: 5px;
}

nav a:hover {
    background-color: #78787d;
}
body{
    background-color: #494952;
}
h1{
    color: #ffffff;
    text-align: center;
}
h2{
    color: #ffffff;
}
p{
    color: #ffffff;
}
footer {
        color: #ffffff;
        text-align: center;
}